:root {
  font-size: 1rem;
}
* + * {
  margin-top: 1.3rem;
}

.app-container {
  width: 90%;
  margin: 3rem auto;
}

.first-dropdown-label,
.second-dropdown-label {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

/* MUI dropdown selector */
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  margin-top: 0rem !important;
}

/* MUI dropdown selector arrow icon */
.MuiSvgIcon-root {
  margin-top: 0rem !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 1rem;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
