:root {
  font-size: 1rem;
}
* + * {
  margin-top: 1.3rem;
}

.app-container {
  width: 90%;
  margin: 3rem auto;
}

.first-dropdown-label,
.second-dropdown-label {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

/* MUI dropdown selector */
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  margin-top: 0rem !important;
}

/* MUI dropdown selector arrow icon */
.MuiSvgIcon-root {
  margin-top: 0rem !important;
}

/* below here I have not checked out */
/* table {
  border-collapse: collapse;
  width: 100%;
} */

th,
td {
  border: 1px solid #ffffff;
  /* text-align: left; */
  padding: 8px;
  font-size: 1rem;
}

th {
  background-color: #6b70ec;
}

/* td {
  background-color: rgb(205, 235, 253);
}
td:hover {
  background-color: red;
} */

.css-2blr9s-MuiTableRow-root:hover {
  background-color: #f1eff1 !important;
}

.css-1q1u3t4-MuiTableRow-root:hover {
  background-color: #f1eff1 !important;
}

tr {
  background-color: white !important;
}

/* revealed nested table */
.css-1ex1afd-MuiTableCell-root {
  padding: 0 !important;
}

/* form {
  display: flex;
  gap: 5px;
} */

/* form td:last-child {
  display: flex;
  justify-content: space-evenly;
} */

/* form * {
  font-size: 28px;
} */

.Mui-selected {
  color: red;
}
